body{
    --black: #231919;
    --dark: #3e3030;
    --dark2: #514040;
    --dark3: #887575;
    --light: #cdaaaa;
    --light2: #efe4e2;
    --light3: #f1efef;
    --red: #d8738f;
    --red2: #ecbcca;
    --green: #8cc08c;
    --green2: #c5dfc5;
    --purple: #a78cc0;
    --purple2: #d4c7e0;
    
    --accent: var(--red);
    
    --base: var(--light3);
    --base2: var(--light2);
    --base3: var(--light);
    --text: var(--black);
    --subtext: var(--light);
    
    --shadow: 0px 5px 5px -7px var(--black);

    --animSpeed: 260ms;
    
    scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
    body{
        --base: var(--black);
        --base2: var(--dark);
        --base3: var(--dark2);
        --text: var(--light3);
        --subtext: var(--dark3);
        --shadow: 0px 5px 5px -7px var(--base);
    }
}

body{
    background: var(--base);
    color: var(--text);
    font-family: 'Roboto Slab', sans-serif;
}

h1{
    color: var(--text);
    margin: 0px;
    margin-bottom: 10px;
    font-family: 'Playfair Display', serif;
}

h3{
    font-size: small;
    font-weight: bold;
    color: var(--subtext);
    margin: 0px;
    margin-bottom: 20px;
}

a{
    text-decoration: underline;
    color: var(--accent);
    border-radius: 2px;
    transition: all 260ms;
    font-weight: 600;
}

a:hover{
    color: var(--red2);
}
::selection{
    color: var(--base);
    background-color: var(--accent);
}

button{
    font-family: "Roboto Slab", sans-serif;
    background-color: var(--base3);
    color: var(--text);
    width: 2.3em;
    height: 2.3em;
    display: flex;
    border-radius: 5px;
    user-select: none;
    opacity: 1;
    transition: opacity var(--animSpeed);
}
button:hover{
    opacity: 0.9;
}
button *{
    margin: auto;
    text-decoration: none;
    color: inherit;
    width: 2em;
    /* height: 2em; */
}
b{
    color: var(--accent)
}